body {
    background-color: RGBA(0,0,0,0.5);
    color: pink;
    opacity: 0.9;
}
.box {
    width: 400px;
    height: 400px;
    background-color: #000000;
    opacity: 10.5;
}
/* Atribuição por nome da cor (em ingles) */
/*Atribuição por valor hexadecimal */
/*RGB /*
 /* RGBA (