.container {
  display: flex;
}

.box {
  height: 150px;
  width: 150px;
   border: 1px solid black;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

